USE [master]
GO
/****** Object:  Database [Cohort11db]    Script Date: 2024/05/03 15:08:01 ******/
CREATE DATABASE [Cohort11db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cohort11db', FILENAME = N'D:\MSSQL\DATA\Cohort11db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cohort11db_log', FILENAME = N'L:\MSSQL\LOGS\Cohort11db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cohort11db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cohort11db]
GO
/****** Object:  User [HARAMBEE0\Sinethemban]    Script Date: 2024/05/03 15:08:01 ******/
CREATE USER [HARAMBEE0\Sinethemban] FOR LOGIN [HARAMBEE0\Sinethemban] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[GetIncompleteTask]    Script Date: 2024/05/03 15:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetIncompleteTask](@userId int)
RETURNS INT

AS
BEGIN
   DECLARE @Result INT
   SET @Result = (Select Count(*) as InComplete
            FROM Task t where t.userId = 1  AND t.IsComplete = 0)
   
   RETURN @Result
END
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 2024/05/03 15:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2024/05/03 15:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[taskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [text] NOT NULL,
	[DueDate] [date] NULL,
	[IsComplete] [bit] NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[AppUser] ([userId])
GO
/****** Object:  StoredProcedure [dbo].[FindUserTasks]    Script Date: 2024/05/03 15:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[FindUserTasks]
@userId int
As
Begin
   Select * FROM Task t where t.userId = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[InsertAppUser]    Script Date: 2024/05/03 15:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertAppUser]
@UserName text

AS
BEGIN
    INSERT INTO AppUser (userName)
	values(@UserName);

END
GO
USE [master]
GO
